name: Update AUR Package

on:
  workflow_dispatch:
    inputs:
      project_name:
        description: 'Project name in configurations directory'
        required: true
        type: string

  repository_dispatch:
    types: [update_aur_package]

permissions:
  contents: write

jobs:
  update_aur_package:
    name: Update AUR Package
    runs-on: ubuntu-24.04
    env:
      PROJECT_NAME: ${{ github.event.inputs.project_name || github.event.client_payload.project_name }}
      SSH_AUTH_SOCK: "/tmp/vc-runner-ssh-agent.sock"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: false  # will clone later with proper SSH key
          ref: main

      - name: Install requirements
        run: |
          sudo apt-get update
          sudo apt-get install -y pacman-package-manager

      - name: Setup vault-conductor
        uses: ./.github/actions/vault-conductor
        with:
          bws_access_token: ${{ secrets.BWS_ACCESS_TOKEN }}
          bw_secret_ids: ${{ secrets.BW_SECRET_IDS }}
          bw_server_endpoint: ${{ secrets.BW_SERVER_ENDPOINT }}

      - name: Configure Git
        run: |
            git config user.name "Francesco Pira"
            git config user.email "dev@fpira.com"
            git config commit.gpgsign true
            git config gpg.format ssh
            git config user.signingkey "${{ secrets.SSH_PUBLIC_SIGN_KEY }}"

      - name: Add AUR to known hosts
        run: |
            mkdir -p ~/.ssh
            chmod 0700 ~/.ssh
            touch ~/.ssh/known_hosts
            chmod 0600 ~/.ssh/known_hosts
            ssh-keyscan -t rsa aur.archlinux.org >> ~/.ssh/known_hosts
            ssh-keyscan -t ed25519 aur.archlinux.org >> ~/.ssh/known_hosts

      - name: Clone submodules
        run: |
          git submodule update --init --recursive

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Create virtual environment
        run: python -m venv scripts/.venv

      - name: Install dependencies
        run: |
          source scripts/.venv/bin/activate
          pip install --upgrade pip
          pip install -r scripts/requirements.txt

      - name: Update PKGBUILD and .SRCINFO
        run: |
          source scripts/.venv/bin/activate
          python scripts/update.py "${{ env.PROJECT_NAME }}"

      - name: Get submodule path
        id: get_submodule_path
        run: |
            echo "submodule_path=$(yq '.submodule_path' configurations/${{ env.PROJECT_NAME }}.yaml)" >> $GITHUB_OUTPUT

      - name: Check for changes
        id: git-check
        working-directory: ${{ steps.get_submodule_path.outputs.submodule_path }}
        run: |
            git diff --exit-code || echo "has_changes=true" >> $GITHUB_OUTPUT

      - name: Generate commit message
        id: generate_commit_message
        if: steps.git-check.outputs.has_changes == 'true'
        env:
            PROJECT_NAME: ${{ env.PROJECT_NAME }}
        run: |
            today=$(date +"%Y-%m-%d %H:%M:%S")
            MESSAGE="chore: update ${PROJECT_NAME} @ ${today}"
            echo "Commit message: ${MESSAGE}"
            echo "message=${MESSAGE}" >> $GITHUB_OUTPUT

      - name: Commit changes to AUR
        if: steps.git-check.outputs.has_changes == 'true'
        run: |
            cd ${{ steps.get_submodule_path.outputs.submodule_path }}
            git add PKGBUILD .SRCINFO
            git commit -S -m "${{ steps.generate_commit_message.outputs.message }}"
            git push

      - name: Commit submodule update
        id: commit_changes
        if: steps.git-check.outputs.has_changes == 'true'
        run: |
            git add ${{ steps.get_submodule_path.outputs.submodule_path }}
            git commit -S -m "${{ steps.generate_commit_message.outputs.message }}"
            git push

      - name: Print AUR and commit URL
        if: steps.git-check.outputs.has_changes == 'true'
        run: |
            echo "AUR Package: https://aur.archlinux.org/packages/${{ env.PROJECT_NAME }}-bin"
            echo "Commit URL: https://github.com/${{ github.repository_owner }}/${{ github.event.repository.name }}/commit/$(git rev-parse HEAD)"
